h1.title, .toc-line > a {
  font-style: normal;
}
blockquote {
  margin: 1em 0;
  padding: 0 2em;
  border-left-color: transparent;
}
.single blockquote {
  background: none;
  border-left-width: 3px;
  padding: 0 2em;
}
.home blockquote {
  border-left-color: transparent;
}
.stats {
  text-align: right;
}
.main > ul > li > span:first-child, .main > p > span:first-child, .main > p .subtitle, .hash-note, .post-nav, .stats {
  color: #666;
  font-size: .9em;
}
.comments {
  margin-top: 1em;
}